# Backup files
*~
*.orig

# Compiler output.
*.o

# Patches
*.diff
*.patch
*.rej

# Compiled applications.
/cc1541
/cc1541.exe
/test_cc1541
/test_cc1541.exe

# Source tarball
cc1541-*.tar*
cc1541-*.zip
